[xmlrpc]
enabled  = true
port     = http,https
filter   = xmlrpc
banaction = {{ ban_action }} 
logpath  =  {{ log_path }} 
maxretry = {{ max_retry  }}
findtime = {{ find_time  }}
bantime  = {{ ban_time  }}
